body {
    font-family: sans-serif;
    /*background-color: #196464;*/
    background-color: white;
    color: black;
    /*font-size: 1em;*/
}


header {
    /*background-color: #196464;*/
    /*max-width:400px;*/
    /*float:left;*/
    margin-top: 5vh;
    font-size: 1.3em;
    /*border:3px solid yellow;*/
    text-align: center;
}


main {
    /*clear:both;*/
    /*max-width: 90%;*/
    margin-top: 5vh;
    /*background-color: white;*/
    /*border: 3px solid red;*/
}

h1 {
    color: #337ab7;
    font-size: 3em;
}

/*h1 a {
    text-align: center;
    float:left;
    margin-bottom:20px;
    text-decoration: none;
    color:white;
}

h1 a:hover {
    text-decoration: underline;
}*/


/*.instructions {
    float:left;
    padding-right: .5em;
}*/

button{
    /*padding: 5px;*/
    background-color: #337ab7;
    color: white;
    border: 2px solid #337ab7;
    border-radius: 5px;
    /*font-size: 1em;*/
    /*width:100%;*/
}

button:active {
    background-color:white;
    color:#337ab7;
}

#controls {
    padding-top:5vh;
    text-align:center;

}

#controls .row {
    padding: 1vh 0;
    /*font-size:.75em;*/
}

/*#controls {
    min-width: 40%;
    padding: 20px 10px;
    text-align: center;
    float:right;
}*/

#main-buttons {
    font-size:2em;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#startButton {
    font-size: 1.5em;
}

#main-buttons .slider {
    font-size:.5em;
}

#grid {
    /*clear:both;*/
    background-color: white;
    margin: 0px auto;
    height: 90vh;
    max-width: 90%;
    padding: 2px;
    border: 5px solid #337ab7;

}

.grid-row {
    /*border: 1px solid red;*/
    overflow: auto;
}

.cell {
    margin: 0px;
    padding: 0px;
    /*width: 50px;*/
    /*height: 100%;*/
    /*border: 1px solid black;*/
    float:left;
}

.alive {
    background-color: black;
}
